

.main {
  min-height: 70vh;
  padding: 0rem 6rem;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 1600px;
  position: relative;
  z-index: 3;
  
}
.main > * {
  flex: 1;
}
.bracket {
  color: #FFC702;
  font-size: 2rem;
}
.header {
  background-color: #d1d1d12c;
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav a {
  text-decoration: none;
  font-weight: bold;
  border: 1px solid #FFC702;
  padding: 0.5rem 1rem;
  transition: all 0.2s ease-in-out;
}
.nav a:hover {
  background-color: #FFC702;
  color: white;

}

.footer {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content:space-around;
  align-items: flex-end;
  z-index: 6;
  
}
.copy {
  display: flex;   
  flex-direction: row ;
  align-items: center;
  gap: 1.5rem;
}

.footer small a {
  text-decoration: none;
  color: #FFC702;
  margin-left: 1rem;
}
.orange {
  color: #FFC702;
}
.footer h2 {
  line-height: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #FFC702;
  font-style: italic;
}
.footer  a{
  font-style: italic;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
}
.title span {
  color: #FFC702;
  display: block;
}


.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-weight: 400;
}

.image {
  text-shadow: 0px 0px 100px #FFC702;
  transform: scale(0.7);
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.coins1 {
  position: absolute;
  top: 15%;
  left: -5%;
  transform: scale(0.8);
}
.coin2 {
  position: relative;
  z-index: 1;
  transform: scale(0.3);
}
.coin1 {
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 2;
}
.coin3 {
  position: absolute;
  bottom: 0%;
  right: 10%;
  z-index: 1;
}

.logo {
  display: flex;
  align-items: flex-end;
  font-family:cursive;
  font-weight: 500;
  font-size: 1.7rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .main {
    display: block;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
